﻿@model BBDisplay.Models.UserInteraction

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>UserInteraction</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserSessionID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserSessionID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentPageID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentPageID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InteractionLength)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InteractionLength)
        </dd>
    </dl>
</div>
<div>
   @* <a asp-action="Edit" asp-route-id="@Model?.UserInteractionID">Edit</a> |*@
    <a class="backButton" asp-action="Index">Back to List</a>
</div>