﻿@model IEnumerable<BBDisplay.Models.UserInteraction>

@{
    ViewData["Title"] = "User Interactions";
}

<h1>User Interactions</h1>

<p>
    <a class="newEntry" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserSessionID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentPageID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InteractionLength)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserSessionID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentPageID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InteractionLength)
            </td>
            <td>
@*              <a class="" asp-action="Edit" asp-route-id="@item.UserInteractionID">Edit</a> |*@
                <a class="detailsButton"  asp-action="Details" asp-route-id="@item.UserInteractionID">Details</a> 
                   <br/>
                <a class="deleteButton" asp-action="Delete" asp-route-id="@item.UserInteractionID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>