﻿@model BBDisplay.Models.UserIPData

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>UserIPData</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserIP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserIP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CountryCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CountryCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CountryName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CountryName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StateOrRegion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StateOrRegion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ZipCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ZipCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VisitCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VisitCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeviceType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeviceType)
        </dd>
    </dl>
</div>
<div>

    <a class="backButton" asp-action="Index">Back to List</a>
</div>
