﻿@model BBDisplay.Models.PageReference

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PageReference</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateAdded)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateAdded)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PageDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PageDescription)
        </dd>
    </dl>
</div>
<div>
@*    <a asp-action="Edit" asp-route-id="@Model?.PageId">Edit</a> |*@
    <a class="backButton" asp-action="Index">Back to List</a>
</div>
