﻿@model IEnumerable<BBDisplay.Models.PageReference>

@{
    ViewData["Title"] = "Page Reference";
}

<h1>Page Reference</h1>

<p>
    <a  class="newEntry"  asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateAdded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PageDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateAdded)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PageDescription)
            </td>
            <td>
@*                <a asp-action="Edit" asp-route-id="@item.PageId">Edit</a> |*@
                <a class="detailsButton" asp-action="Details" asp-route-id="@item.PageId">Details</a> 
                <br/>
                <a class="deleteButton" asp-action="Delete" asp-route-id="@item.PageId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
