﻿@model BBDisplay.Models.Session

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Session</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserIPAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserIPAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoggedIn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoggedIn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PurchaseMade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PurchaseMade)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="SessionId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> 
        <br />
        <br />
        <a class="backButton" asp-action="Index">Back to List</a>
    </form>
</div>
