﻿@model BBDisplay.Models.Session

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Session</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserIPAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserIPAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoggedIn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoggedIn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PurchaseMade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PurchaseMade)
        </dd>
    </dl>
</div>
<div>
@*    <a asp-action="Edit" asp-route-id="@Model?.SessionId">Edit</a> |*@
    <a class="backButton" asp-action="Index">Back to List</a>
</div>
